<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      .right-container {
        display: flex;
        justify-content: flex-end;
      
        .card-body {
          display: flex;
          overflow-x: auto;
      }
  
      .row.row-cols-1 {
          flex: 0 0 auto;
          width: auto;
      }
    }
    </style>
  </head>
<body>
  {% with messages= get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/creator_dashboard">Creator's Account</a>
          </li>
          <li class="nav-item ">
            <a href="{{url_for('profile')}}"class="nav-link ">
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
        <form class="d-flex" role="search" method="POST" action="/search" >
          <input class="form-control me-2 search_input" type="search" name="q" placeholder="Search for Songs, ALbums" aria-label="Search">
          <a href="/search"><button class="btn btn-outline-success" type="submit">Search</button></a>
        </form>
      </div>
    </div>
  </nav>
  <br>
  <!-- {{ songs }}
  {{ songs.items() }} -->
 
  
  <div class="card">
    <div class="card-header">
        Your Playlist
    </div>
    <div class="right-container">
        <!-- Your content goes here -->
        <a href="{{ url_for('playlist') }}">
            <button type="button" class="btn btn-warning">Create New Playlist</button>
        </a>
    </div>
    <div class="card-body">
        <div class="row row-cols-1 row-cols-md-3 g-4" id="playlist-container">
            
            {% if playlists %}
              {% for val, play in playlists.items() %}
                <div class="col">
                  <div class ="card-header"> <strong>{{val}} </strong></div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> Playlist Name : {{ play['playlist_name']
                               }}</h5><br>
                            <h4><a href="{{url_for('playlist_details',id=play['playlist_id']) }}"><button type="button" class="btn btn-dark btn-lg" style="justify-content: center;">View  All Tracks </button></a></h4>
                        </div>
                    </div>
                </div>
              {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{%if albums %}
<div class="card">
  <div class="card-header">
    Albums
  </div>
  <div class="row">
    {% for val, album in albums.items() %}
      <div class="col-md-2">
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <h6 class="card-title">{{ album.album_name }}</h6>
            <a href="{{ url_for('album_details', id=album.album_id) }}" class="btn btn-primary">View Tracks</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{%endif%}

{% if songs  %}
  <div class="card">
    <div class="card-header">
      Recently Added
    </div>
    <div class="row">
      {% for val, song in songs.items() %}
        <div class="col-md-2">
          <div class="card" style="width: 15rem;">
            <img src="{{ song.Song_pic }}" class="card-img-top" alt="Image" >
            <div class="card-body">
              <h6 class="card-title">{{ song.Song_Title }}</h6>
              <small class="card-text">Uploaded_by: {{ song.Created_by }}</small>
              <audio style="width: 100%;" controls>
                <source src="{{ song.Song_url }}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
              <a href="{{ url_for('song_details', Id=song.Id) }}" class="btn btn-primary">Read Lyrics</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if genres %}
<div class="card">
  {% for genre in genres %}
  <div class="card-header">
    {{ genre }}
  </div>
  <div class="row">
    {% for val, song in songs.items() %}
      {% if song.Genre == genre %}
        <div class="col-md-2">
          <div class="card" style="width: 15rem;">
            <img src="{{ song.Song_pic }}" class="card-img-top" alt="Image" >
            <div class="card-body">
              <h6 class="card-title">{{ song.Song_Title }}</h6>
              <small class="card-text">Uploaded_by: {{ song.Created_by }}</small>
              <audio style="width: 100%;" controls>
                <source src="{{ song.Song_url }}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
              <a href="{{ url_for('song_details', Id=song.Id) }}" class="btn btn-primary">Read Lyrics</a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endif%}

</body>
</html>